/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-border-color: #D9D9D9;
    --white-color: #FFFFFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

main.container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/********* Header ***********/

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    min-height: 79px;
}

.logo {
    padding: 30px 0;
    width: 61.09px;
    height: 19px;
}

nav {
    display: flex;
    align-items: center;
}

nav ol {
    display: flex;
    justify-content: space-between;
    gap: 69px;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ol li {
    padding-top: 16px;

}



nav ol li:hover {
    border-top: 2px solid var(--main-color);
    padding-top: 14px;
}

nav ol li:hover a {
    color: var(--main-color);
}

/********** Infos ***********/


section.titre {
    display: flex;
    flex-direction: column;
}

section.titre h1 {
    font-size: 22px;
    margin-bottom: 8px;
}

section.titre p {
    font-size: 16px;
}

form.search-bar {
    position: relative;
    height: 49px;
    max-width: 377px;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    border-radius: 15px;

}

form.search-bar i,
form.search-bar button i {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

form.search-bar i {
    background-color: var(--main-bg-color);
    color: black;
}

form.search-bar input {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: black;
    flex: 1;
    border: none;
    border: 2px solid var(--main-bg-color);
    border-right: none;
    padding-right: 132px;
}

form.search-bar button {
    position: absolute;
    right: 0;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--main-color);
    width: 132px;
    font-size: 18px;
    font-weight: 700;
    color: var(--white-color);
}

form.search-bar button i {
    display: none;
    background-color: var(--main-color);
    color: var(--white-color);
}

section.filter-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

section.filter-bar h2{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

section.filter-bar ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 17px;
    font-weight: 700;
}

section.filter-bar ul li{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 4px 19px;
    border: var(--filter-border-color) 2px solid;
    border-radius: 25px;
    margin: 0;
    box-sizing: border-box;
}

section.filter-bar ul li:hover{
    background-color: var(--filter-bg-color);
}

section.info-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

section.info-bar i{
    height: 24px;
    width: 24px;
    border: var(--filter-border-color) 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.info-bar p{
    font-size: 17px;
    font-weight: 400;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100%/3 - 30px);
}

.hebergements-cards .card img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergements-cards .card .card-content{
    margin-left: 15px;
}
.hebergements-cards .card .card-content,
.hebergements-cards .card .card-content .card-txt{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-plus{
    font-size: 18px;
    font-weight: 700;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    section.filter-bar h2{
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements, 
    .populaires {
        width: 100%;
        
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    nav,
    nav ol,
    nav ol li,
    nav ol li a {
        width: 100%;
        gap: 0px;
        text-align: center;
    }

    nav ol li {
        padding-top: 0px;
        padding-bottom: 16px;

    }

    nav ol li.active,
    nav ol li:hover {
        border-top: 0px solid var(--main-color);
        padding-top: 0px;
        border-bottom: 2px solid var(--main-color);
        padding-bottom: 14px;
    }

    nav ol li.active a {
        color: var(--main-color);
    }

    /********** form ***********/

    form.search-bar input {
        padding-right: 49px;
    }

    form.search-bar button {
        width: 49px;
        border-radius: 15px;
    }

    form.search-bar button span {
        display: none;
    }

    form.search-bar button i {
        display: flex;
    }

    .info{
        margin: 0 20px;
    }

    section.filter-bar ul li{
        width: calc(50% - 10px);
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .hebergements-and-populaires section.hebergements {
        background-color: var(--white-color);
    }

    .hebergements-cards .card {
        width: 100%;
    }

    .populaires-cards{
        flex-direction: column;
    }
    .populaires-cards .card {
        box-sizing: border-box;
        width: 100%;
    }


}